body{
	color: black;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
}

nav{
	width: 100%;
	height: 50px;
	background: #515151;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}

nav ul{
	border: solid 0px white;
	width: 1200px;
	margin: 0 auto;
	list-style: none;
	padding: 0px;
}

nav ul li{
	border: solid 0px white;
	display: inline-block;
	width: auto;
	margin-left: 20px;
	text-align: center;
	padding: 15px;
	font-size: 12pt;
	font-weight: 200;
}

nav ul li:hover{
	background: white;
	color: black;
}

nav ul a{
	color: white;
}

nav ul li a:hover{
	color: black;
}

#socialIcons{
    position:fixed;
    
    width:66px;
    float: right;
    height:34px;
    right:20px;
    top:10px;
}

#slider{
	background-image: url(../images/slider_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
    width: 100%;
    height: 469px;

}
#title{
	font-size: 18pt;
	text-align: center;
	text-transform: uppercase;
	color: #515151;
	margin-top: 50px;
	padding-top: 100px;
}
#title a{
	text-decoration: none;
}
.button{
	background: #515151;
	padding: 15px;
	font-size: 14pt;
	color: white;	
}

#mainArea{
	padding-top: 75px;
	width: 1100px;
	margin: 0 auto;
}

#col1{
	color: #515151;
	width: 30%;
	margin-left: 50px;
	float: left;
	text-align: center;
	padding-bottom: 50px;
}

#col2{
 	color: #515151;
	width: 30%;
	margin-left: 25px;
	float: left;
	text-align: center;
	padding-bottom: 50px;
}

#col3{
	color: #515151;
	width: 30%;
	margin-left: 25px;
	float: left;
	text-align: center;
	padding-bottom: 50px;
}

.text{
	color: #000;
	padding-bottom: 25px;
}
.btn{
	border: solid 1px #515151;
	padding: 10px;
	font-size: 10pt;
	color: #515151;	
	text-decoration: none;

}

.clearfix{
	clear: both;
}
footer{
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	background: #515151;
	text-align: center;
	font-size: 10pt;
	font-weight: 100;
}






