body{
	background: black;
	color: white;
	padding: 0px;
	margin: 0px;
}

#container{
	border: solid 1px white;
	width: 960px;
	margin: 0 auto;
	height: 100vh;
}

#banner{
	height: 100px;
}
#title{

}
#smpanel{}
nav{

}

nav ul{
	border: solid 1px white;
	list-style: none;
	padding: 0px;
}

nav ul li{
	border: solid 0px white;
	display: inline-block;
	width: 24.5%;
	text-align: center;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14pt;
}

nav ul li:hover{
	background: white;
	color: black;
}










